:root {
  /* Color */
  --color-orangeFull: #f8765e;
  --color-lightOrange: #fde8e1;
  --color-lightBlue: #9bdbe7;
  --color-grey: #cdcdcd;
  --color-darkBlue: #031d5b;
  --color-darkBlueLight: #5b6c94;
  --color-white: #ffffff;
  /* Font-Size */
  --fs-h1: 48px;
  --fs-h1-mobile: 30px;
  --fs-h2: 34px;
  --fs-h2-mobile: 26px;
  --fs-h3: 20px;
  --fs-h3-mobile: 17px;
  --fs-h4: 18px;
  --fs-p: 16px;
  /* Font-Weight */
  --fw-h: 700;
  --fw-h4: 600;
  --fw-em: 700;
  /* Line-Height */
  --lh-h1: 1.25;
  --lh-h1-mobile: 1.33333;
  --lh-h2: 1.323529411764706;
  --lh-h2-mobile: 1.730769230769231;
  --lh-h3: 1.25;
  --lh-h3-mobile: 1.176470588235294;
  --lh-h4: 1.388888888888889;
  --lh-p: 2;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header__container CSS */
.header__container {
  background-color: var(--color-orangeFull);
  height: 1285px;
  color: var(--color-white);
  padding-top: 25px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: var(--fs-h2-mobile);
  line-height: var(--lh-h2-mobile);
  font-weight: var(--fw-h);
  margin-bottom: 14px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container.nav__list-item {
  margin-right: 32.5px;
}

.header__container.nav__list-item:last-child {
  margin: 0;
}

.nav__link {
  color: var(--color-white);
  font-size: var(--fs-h3-mobile);
  line-height: var(--lh-h3-mobile);
  font-weight: var(--fw-h);
}

.header__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.desc__img {
  width: 333px;
}

.desc__img > img {
  display: block;
  width: 100%;
}

.desc__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.desc__title {
  text-align: center;
  font-size: var(--fs-h1-mobile);
  line-height: var(--lh-h1-mobile);
  font-weight: var(--fw-h);
  margin-bottom: 15px;
}

.desc__text {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

/* Info CSS */
.info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
}

.info__list {
  width: 335px;
  border-radius: 20px;
  offset: 0px 10px;
  box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.45);
  padding: 60px 0;
  background-color: var(--color-white);
  margin-bottom: 100px;
}

.info__list-item {
  display: flex;
  flex-direction: column;
  width: 302px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.info__img {
  display: block;
  width: 70%;
  align-self: center;
  margin-bottom: 40px;
}

.info__title {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  font-weight: var(--fw-h4);
}

.info__title::after {
  display: block;
  content: "";
  background-color: var(--color-orangeFull);
  width: 60px;
  height: 5px;
  margin: 17px 0 37px 0;
}

.info__desc {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

/* Description CSS */
.about__container {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.img-box {
  width: 300px;
  align-self: center;
  position: relative;
}

.img-box::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--color-orangeFull);
  position: absolute;
  top: 75px;
  z-index: -1;
}

.about__img {
  display: block;
  width: 100%;
}

.about__title {
  font-size: var(--fs-h1-mobile);
  font-weight: var(--fw-h);
  line-height: var(--lh-h1-mobile);
  color: var(--color-orangeFull);
  margin-bottom: 10px;
}

.about__title-detail {
  font-size: var(--fs-h2-mobile);
  font-weight: var(--fw-em);
  line-height: var(--lh-h2-mobile);
  margin-bottom: 30px;
}

.about__desc {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
  font-weight: var(--fw-em);
  margin-bottom: 30px;
}

.about__container > .subscribe__btn {
  align-self: center;
}

/* User Comments CSS */
.comment__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 620px;
  height: 771px;
  margin-bottom: 100px;
  position: relative;
  padding-left: 30px;
}

.comment__title {
  font-size: var(--fs-h2-mobile);
  font-weight: var(--fw-h);
  line-height: var(--lh-h2-mobile);
  color: var(--color-orangeFull);
  position: relative;
}

.comment__title::before {
  box-sizing: border-box;
  display: block;
  content: "";
  width: 65px;
  height: 165px;
  border-radius: 8px;
  background-color: var(--color-lightOrange);
  position: absolute;
  top: -22px;
  left: -10px;
  z-index: -1;
}

.comment__title::after {
  box-sizing: border-box;
  display: block;
  content: "";
  width: 65px;
  height: 165px;
  border-radius: 8px;
  background-color: var(--color-lightOrange);
  position: absolute;
  top: -22px;
  left: 80px;
  z-index: -1;
}

.comment__list {
  display: flex;
  align-items: center;
  width: 620px;
  height: 660px;
  margin-top: 20px;
  overflow: hidden;
}

.comment__list::before {
  display: block;
  content: "";
  width: 100%;
  height: 660px;
  background-color: var(--color-orangeFull);
  border-radius: 20px;
  position: absolute;
  top: 110px;
  left: 75px;
  z-index: -2;
}

.comment__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 400px;
  border-radius: 20px;
  margin-right: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.comment__list-item.item1 {
  background-color: var(--color-lightBlue);
  color: var(--color-white);
}

.comment__list-item.item2 {
  background-color: var(--color-white);
  color: var(--color-darkBlue);
}

.comment__list-item.item3 {
  background-color: var(--color-lightOrange);
}

.user-comments {
  font-size: var(--fs-h4);
  font-weight: var(--fw-h4);
  line-height: var(--lh-p);
  text-align: center;
  width: 200px;
  height: 80px;
  margin-bottom: 78px;
  position: relative;
}

.user-info {
  display: flex;
  justify-content: center;
  font-size: var(--fs-h4);
  font-weight: var(--fw-h4);
  line-height: var(--lh-p);
  text-align: center;
}

.user-name::after {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
}

/* Subscribe CSS */
.subscribe__container {
  width: 335px;
  margin: 0 auto;
  margin-bottom: 117px;
  text-align: center;
}

.subscribe__title {
  font-size: var(--fs-h2-mobile);
  font-weight: var(--fw-h);
  line-height: var(--lh-h2-mobile);
  color: var(--color-orangeFull);
}

.subscribe__desc {
  display: block;
  font-size: var(--fs-h2-mobile);
  font-weight: 500;
  line-height: var(--lh-h2-mobile);
  color: var(--color-grey);
  margin-bottom: 46px;
}

.subscribe__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  background-color: var(--color-white);
  font-size: var(--fs-h3-mobile);
  line-height: var(--lh-h3-mobile);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.subscribe__btn {
  width: 168px;
  background-color: var(--color-lightBlue);
  font-size: var(--fs-h3-mobile);
  font-weight: var(--fw-h);
  line-height: var(--lh-h3-mobile);
  padding: 20px;
  color: var(--color-white);
  border-radius: 20px;
  transition: opacity 250ms ease-in;
  cursor: pointer;
}

.subscribe__btn:hover {
  opacity: 0.8;
}

/* Footer CSS */
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-orangeFull);
}

.footer__copyright {
  font-size: var(--fs-h3-mobile);
  line-height: var(--lh-h3-mobile);
  color: var(--color-white);
  font-weight: var(--fw-h);
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}

.nav__link.benefit::after,
.nav__link.pricing::after {
  content: "/";
  margin-left: 20px;
  margin-right: 20px;
}

/* Responsive Page for Mobile */
@media (min-width: 768px) {
}
